.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    background:#0f172a;
    position:sticky;
    top:0;
    z-index:1000;
}

.logo{
    color:#3b82f6;
    font-size:30px;
    font-weight:bold;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links li a{
    color:white;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:8px;
}

.nav-links li a:hover{
    color:#3b82f6;
}

.menu-icon{
    display:none;
    color:white;
    font-size:28px;
    cursor:pointer;
}

/* Mobile */

@media (max-width:768px){

    .menu-icon{
        display:block;
    }

    .nav-links{

        display:none;

        position:absolute;

        top:70px;

        left:0;

        width:100%;

        background:#0f172a;

        flex-direction:column;

        padding:20px;
    }

    .nav-links.active{
        display:flex;
    }
}
.theme-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:10px;

    border-radius:50%;

    cursor:pointer;

    font-size:18px;

}